body {
  font-family: 'Roboto', sans-serif;
  background-color: #007EA7;
  color: #FFFFFF;
}

header {
  height: 80%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.welcome-text{
  width: 100%;
}

.navigation {
  width: 100%;
  padding: 0;
  text-align: center;
}

.navigation--item {
  display: inline-block;
  margin: 0 30px;
  font-size: 20px;
}

.navigation--item a:hover {
  text-decoration: underline;
}


#profileimg {
  border-radius: 50%;
  float: left;
  width: 130px;
  padding-left: 15px;
}

.quem-sou, .content {
  width: 75%;
  background-color: #00171F; 
  border-radius: 20px;
  height: auto;
  margin: 20px auto;
  padding: 15px 10px;
  box-shadow: 5px 5px 5px 3px rgba(255, 255, 255, .3);
}

.quem-sou_text {
  margin-left: 180px;
  text-align: justify;
}

.nacionalidade, .residencia {
  color: #00bfff;
}


.item1 {
  font-size: 1em;
  font-weight: bold;
}

.item2 {
  font-size: 1em;
}

.item3 {
  font-size: 1em;
  font-weight: bold;
}

span {
  color: #00bfff;
  font-weight: bold;
}

.icons {
  text-align: center;
  margin-top: 50px;
  
}

.icon {
  width: 50px;
  display: inline-block;
}